<header>
  <div class="head">サインアップ</div>
</header>

<div class="main">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div>
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>

    <div class="field flex">
      <%= f.label :name, "名前", class: "title" %><br />
      <%= f.text_field :name, autofocus: true, class: "w20vw" %>
    </div>

    <div class="field flex margin_t_2vh">
      <%= f.label :email, class: "title" %><br />
      <%= f.email_field :email, autocomplete: "email", class: "w20vw" %>
    </div>

    <div class="field flex margin_t_2vh">
      <%= f.label :password, class: "title" %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上の半角英数で入力", class: "w20vw" %>
    </div>

    <div class="field flex margin_t_2vh">
      <%= f.label :password_confirmation, "パスワード", class: "title" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認用", class: "w20vw" %>
    </div>

    <div class="actions margin_t_2vh">
      <%= f.submit "新規登録", class: "w6vw" %>
    </div>
  <% end %>

  <div class="margin_t_2vh">
    <%= render "devise/shared/links" %>
  </div>
</div>
