<div class="head">部屋タイプ</div>
<div class="main">
  <%= form_with(model: @room_type, local: true, class:"room_type_new_form") do |f| %>
    <div class="room_type_create_form">
      <div class="title">コード</div>
      <%= f.text_field :code, class: "room_type_code_form", maxlength:"4" %>
      <div class="title">名前</div>
      <%= f.text_field :name, class: "room_type_name_form" %>
      <div class="title">定員</div>
      <%= f.text_field :capacity, class: "room_type_capacity_form", maxlength:"3" %>
      <%= f.submit "作成", class: "create_btn" %>
    </div>
  <% end %>
  <div class="room_type_all">
    <div class="room_type_column">
      <div class="column id_column">ID</div>
      <div class="column code_column">コード</div>
      <div class="column name_column">名前</div>
      <div class="column capacity_column">定員</div>
      <div class="column at_column">登録日</div>
      <div class="column at_column">更新日</div>
    </div>
    <% unless @room_types == nil %>
      <% @room_types.each do |room_type| %>
      <div class="result">
        <div class="id_column"><%= room_type.id %></div>
        <div class="code_column"><%= room_type.code %></div>
        <div class="name_column"><%= room_type.name %></div>
        <div class="capacity_column"><%= room_type.capacity %></div>
        <div class="at_column"><%= l room_type.created_at %></div>
        <div class="at_column"><%= l room_type.updated_at %></div>
        </div>
      <% end %>
    <% end %>
</div>
<div class="foot">
</div>
