<div class="head">ランク</div>
<div class="main">
  <%= form_with(model: @rank, local: true, class:"rank_new_form") do |f| %>
    <div class="rank_form">
      <div class="title">コード</div>
      <%= f.text_field :code, class: "rank_code_form", maxlength:"4" %>
      <div class="title">名前</div>
      <%= f.text_field :name, class: "rank_name_form" %>
      <%= f.submit "作成", class: "create_btn" %>
    </div>
  <% end %>
  <div class="rank_all">
    <div class="rank_column">
      <div class="column id_column">ID</div>
      <div class="column code_column">コード</div>
      <div class="column name_column">名前</div>
      <div class="column at_column">登録日</div>
      <div class="column at_column">更新日</div>
    </div>
    <% unless @ranks == nil %>
      <% @ranks.each do |rank| %>
      <div class="result">
        <div class="id_column"><%= rank.id %></div>
        <div class="code_column"><%= rank.code %></div>
        <div class="name_column"><%= rank.name %></div>
        <div class="at_column"><%= l rank.created_at %></div>
        <div class="at_column"><%= l rank.updated_at %></div>
        </div>
      <% end %>
    <% end %>
</div>
<div class="foot">
</div>