<div class="head">タグ</div>
<div class="main">
  <%= form_with(model: @tag, local: true, class:"tag_new_form") do |f| %>
    <div class="tag_create_form">
      <div class="title">コード</div>
      <%= f.text_field :code, class: "tag_code_form", maxlength:"5" %>
      <div class="title">名前</div>
      <%= f.text_field :name, class: "tag_name_form" %>
      <%= f.submit "作成", class: "create_btn" %>
    </div>
  <% end %>
  <div class="tag_all">
    <div class="tag_column">
      <div class="column id_column">ID</div>
      <div class="column code_column">コード</div>
      <div class="column name_column">名前</div>
      <div class="column at_column">登録日</div>
      <div class="column at_column">更新日</div>
    </div>
    <% unless @tags == nil %>
      <% @tags.each do |tag| %>
      <div class="result">
        <div class="id_column"><%= tag.id %></div>
        <div class="code_column"><%= tag.code %></div>
        <div class="name_column"><%= tag.name %></div>
        <div class="at_column"><%= l tag.created_at %></div>
        <div class="at_column"><%= l tag.updated_at %></div>
        </div>
      <% end %>
    <% end %>
</div>
<div class="foot">
</div>