<div class="head">地域</div>
<div class="main">
  <%= form_with(model: @area, local: true, class:"area_new_form") do |f| %>
    <div class="area_create_form">
      <div class="title">コード</div>
      <%= f.text_field :code, class: "area_code_form", maxlength:"4" %>
      <div class="title">名前</div>
      <%= f.text_field :name, class: "area_name_form" %>
      <%= f.submit "作成", class: "create_btn" %>
    </div>
  <% end %>
  <div class="area_all">
    <div class="area_column">
      <div class="column id_column">ID</div>
      <div class="column code_column">コード</div>
      <div class="column name_column">名前</div>
      <div class="column at_column">登録日</div>
      <div class="column at_column">更新日</div>
    </div>
    <% unless @areas == nil %>
      <% @areas.each do |area| %>
      <div class="result">
        <div class="id_column"><%= area.id %></div>
        <div class="code_column"><%= area.code %></div>
        <div class="name_column"><%= area.name %></div>
        <div class="at_column"><%= l area.created_at %></div>
        <div class="at_column"><%= l area.updated_at %></div>
        </div>
      <% end %>
    <% end %>
</div>
<div class="foot">
</div>