<header>
  <div class="head">ログイン</div>
</header>

<div class="main">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field flex">
      <%= f.label :email, class: "title" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w20vw" %>
    </div>

    <div class="field flex margin_t_2vh">
      <%= f.label :password, class: "title" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "w20vw" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field flex margin_t_2vh">
        <%= f.label :remember_me, class: "title" %>
        <%= f.check_box :remember_me %>
      </div>
    <% end %>

    <div class="actions margin_t_2vh">
      <%= f.submit "Log in", class: "w5vw" %>
    </div>
  <% end %>
  
  <div class="margin_t_2vh">
    <%= render "devise/shared/links" %>
  </div>
</div>
