<header>
  <div class="menu_bar">
    <div class="menu">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
    </div>
    <div class="menu_new">
      <%= link_to "予約登録", new_gest_path, class: 'btn'%>
    </div>
    <div class="menu_search">
      <%= link_to "予約検索", gests_search_index_path, class: 'btn'%>
    </div>
    <div class="menu_sex_create">
      <%= link_to "性別コード作成", sexes_path, class: 'btn'%>
    </div>
    <div class="menu_sex_create">
      <%= link_to "ランクコード作成", ranks_path, class: 'btn'%>
    </div>
  </div>
</header>
<div class="main">
</div>
<footer>
</footer>
