<header>
  <div class="menu_bar">
    <div class="menu">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
    </div>
    <div class="menu_new">
      <%= link_to "予約登録", new_gest_path, class: 'btn'%>
    </div>
    <div class="menu_search">
      <%= link_to "予約検索", gests_search_index_path, class: 'btn'%>
    </div>
    <div class="menu_sex_create">
      <%= link_to "性別作成", sexes_path, class: 'btn'%>
    </div>
    <div class="menu_rank_create">
      <%= link_to "ランク作成", ranks_path, class: 'btn'%>
    </div>
    <div class="menu_room_type_create">
      <%= link_to "部屋タイプ作成", room_types_path, class: 'btn'%>
    </div>
    <div class="menu_plan_create">
      <%= link_to "プラン作成", plans_path, class: 'btn'%>
    </div>
    <div class="menu_tag_create">
      <%= link_to "タグ作成", tags_path, class: 'btn'%>
    </div>
  </div>
</header>
<div class="main">
</div>
<footer>
</footer>
