<div class="head">プラン</div>
<div class="main">
  <button class="create_button" id="create_button">新規作成</button>
  <%= search_form_for @q, url: plans_search_path, class: "plans_search_form" do |f| %>
    <div class="code_search_form">
      <%= f.label :code_cont, 'コード', class: "title" %>
      <%= f.search_field :code_cont, class: "code_form", maxlength:"5" %>
      <%= f.label :name_cont, '名前', class: "title" %>
      <%= f.search_field :name_cont, class: "w40vw" %>
      <%= f.submit "検索", class: "contents_right" %>
    </div>
  <% end %>
  <div class="search_results">
    <div class="flex">
      <div class="column w4vw">ID</div>
      <div class="column w6vw">コード</div>
      <div class="column w40vw">名前</div>
      <div class="column w10vw">単価</div>
      <div class="column w15vw">登録日</div>
      <div class="column w15vw">更新日</div>
    </div>
    <div class="results">
      <% unless @plans == nil %>
        <% @plans.each do |plan| %>
          <div class="result w90vw">
            <div class="columns w4vw"><%= plan.id %></div>
            <div class="columns w6vw"><%= plan.code %></div>
            <div class="columns w40vw text_left"><%= plan.name %></div>
            <div class="columns w10vw"><%= "#{plan.price}円" %></div>
            <div class="columns w15vw"><%= l plan.created_at %></div>
            <div class="columns w15vw"><%= l plan.updated_at %></div>
            <%= content_tag(:div, "", class: "show_link", id: plan.id) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="foot">
</div>